
<!--scripts-->
<script src="/javascripts/scripts.js"></script>
<script src="/javascripts/materialize.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/mdb.js"></script>
<script src="/js/addons/datatables.min.js"></script>
<script src="/js/addons/datatables2.min.js"></script>
</body>
