
<!--scripts-->
<script src="/javascripts/dataTables.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/mdb.js"></script>
<script src="/js/addons/datatables.min.js"></script>
<script src="/js/addons/datatables2.min.js"></script>
<script src="/js/mdb.lite.min.js.map"></script>
<script src="/js/popper.js"></script>
<script src="/js/modules/animations-extended.min.js"></script>
<script src="/js/modules/forms-free.min.js"></script>
<script src="/js/modules/wow.min.js"></script>
<script src="/js/addons/directives.min.js"></script>
<script src="/js/addons/flag.min.js"></script>
<script src="/js/addons/imagesloaded.pkgd.min.js"></script>
<script src="/js/addons/jquery.zmd.hierarchical-display.min.js"></script>
<script src="/js/addons/masonry.pkgd.min.js"></script>
<script src="/js/addons/rating.min.js"></script>
<script src="/javascripts/scripts.js"></script>
</body>
