<!--<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error!</title>
    <link rel="stylesheet" href="/stylesheets/error.css">
</head>
<body>
    <div class="noise"></div>
    <div class="overlay"></div>
    <div class="terminal">
      <h1>Error <span class="errorcode">404</span></h1>
      <p class="output">Hubo un error, la página que intentas acceder no existe fue movida.</p>
      <p class="output">Intenta <a href="#">regresar</a> o <a href="/users">ir al inicio</a>.</p>
      <p class="output">Si no, llama a los de IT para que te ayuden.</p>
    </div>
</body>
</html>    
    