
  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container cyan-text">
        <h5 class="cyan-text">Sistema de combustible desarrollado por <a href="mailto:chamelo03@gmail.com">Chamelo </a>para Grupo Sol Honduras.</h5><br>
        © 2020 Derechos reservados (y zurdos también xD)
      </div>
    </div>
  </footer>
</body>

