<!DOCTYPE html>
<html lang="es-ES">
  <%include ../Layouts/Login/Header.ejs %>
<!-- Material form login -->
<div class="container-fluid">
  <div class="row justify-content-center ">
    <div class="col-sm-4 align-middle">
      <div class="card">
        <h5 class="card-header info-color white-text text-center py-4">
          <%if(!message){%><strong>Inicia sesión</strong><%}%>
          <% if(message) {%>  
            <strong>ACCESO ADMINISTRADOR</strong>
            <p><%= message %></p>
          <%}%>
        </h5>
        <!--Card content-->
        <div class="card-body px-lg-5 pt-0">
          <!-- Form si no obtengo mensaje del server la action del form será /users/login para loggearse como simple mortal
          <--- Si obtengo mensaje del server la action del form cambia a /users/signup para loggearse como admin y gestionar usuarios -->
          <%if(!message){%><form class="text-center" style="color: #757575;" action="/users/login" method="POST"><%}%>
          <%if(message){%><form class="text-center" style="color: #757575;" action="/users/signup" method="POST"><%}%>
            <!-- Email -->
            <div class="md-form">
              <input type="text" id="usuario" name="usuario" required class="form-control" autocomplete="off">
              <label for="usuario">Usuario</label>
            </div>
    
            <!-- Password -->
            <div class="md-form">
              <input type="password" id="contra" name="contra" required class="form-control">
              <label for="contra">Contraseña</label>
            </div>
    
            <!-- Sign in button -->            
            <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Entrar</button>
    
            <!-- Register Si no obtengo un mensaje desde el servidor en la ruta pinto este zelda :v-->
              <%if (!message){ %><a href="/users/signup">Registro de usuarios</a><%}%>
            </p>
          </form>
          <!-- Form -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Material form login -->
<%include ../Layouts/Ordenes/Footer.ejs %>
<%include ../Layouts/Login/Footer.ejs %>
</html>