<!DOCTYPE html>
<!--Inlcuyo la platilla que tiene los estilos y demás-->
<% include ../../Layouts/Ordenes/Header.ejs %>
    <h1> <strong><%=title%></strong> </h1>
    <!-- vamos a incluir los tabs aquí-->
    <% include ../../Layouts/Ordenes/tabs.ejs %>
    <!--BODY DE LAS TABS-->
    <!-- contenido de las tabs  -->
    <!--TAB PARA TABLA LISTADO-->
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="tab-content" id="ex2-content">
                <div
                class="tab-pane fade show active"
                id="ex3-tabs-1"
                role="tabpanel"
                aria-labelledby="ex3-tab-1"
                >
                    <!--METER LA TABLA DEL LISTADO AQUI-->
                    <div  class="datatable">
                        <table id="prueba" class="table" style="width:100%">
                            <thead>
                            <tr>
                                <th class="th-sm">Name</th>
                                <th class="th-sm">Position</th>
                                <th class="th-sm">Office</th>
                                <th class="th-sm">Age</th>
                                <th class="th-sm">Start date</th>
                                <th class="th-sm">Salary</th>
                            </tr>
                            </thead>
                            <tbody class="table-hover">
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                            </tr>
                        
                            <tr>
                                <td>Sonya Frost</td>
                                <td>Software Engineer</td>
                                <td>Edinburgh</td>
                                <td>23</td>
                                <td>2008/12/13</td>
                                <td>$103,600</td>
                            </tr>
                            <tr>
                                <td>Jena Gaines</td>
                                <td>Office Manager</td>
                                <td>London</td>
                                <td>30</td>
                                <td>2008/12/19</td>
                                <td>$90,560</td>
                            </tr>
                            <tr>
                                <td>Quinn Flynn</td>
                                <td>Support Lead</td>
                                <td>Edinburgh</td>
                                <td>22</td>
                                <td>2013/03/03</td>
                                <td>$342,000</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--TAB PARA FORM DE REGISTRO-->
                <div
                class="tab-pane fade"
                id="ex3-tabs-2"
                role="tabpanel"
                aria-labelledby="ex3-tab-2"
                >
                    <!--METER EL FORM DEL REGISTRO AQUI-->
                    <section class="border p-4 mb-4 d-flex justify-content-center">
                        <form class="row g-3">
                            <div class="col-md-6">
                                <div class="form-outline">
                                    <input type="text" id="form1" class="form-control" />
                                    <label class="form-label" for="form1">Nombre completo</label>
                                    </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-outline">
                                    <textarea class="form-control" id="obs" rows="3"></textarea>
                                    <label class="form-label" for="obs">Observacion</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-outline">
                                    <select id="Ubicacion" class="select" data-filter="true">
                                        <option value="1">Cuarto Frio</option>
                                        <option value="2">San Lorenzo</option>
                                        <option value="3">Suragroh</option>
                                        <option value="4">Santa Rosa</option>
                                        <option value="5">Ojo de Agua</option>
                                    </select>
                                <label for="validationDefault05" class="form-label">Ubicacion</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary" type="submit">Reistrar</button>
                            </div>
                        </form>  
                    </section>                                                      
                </div>
            </div>
        </div>
    </div>
<!--Incluyo la plantilla que tiene los scripts y el footer-->
<% include ../../Layouts/Ordenes/Footer.ejs %>
</html>