
<div  class="datatable">
  <!-- Modal -->
  <div class="modal fade" id="modalExtData" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <!--ESTABLECER EL TITULO DE LA MODAL SEGUN EL TITULO DE LA RUTA
              - SI LA RUTA ES MOTORISTAS HAY QUE MOSTRAR LOS TRANSPORTISTAS
              - SI LA RUTA ES VEHICULOS HAY QUE MOSTRAR LOS MOTORISTAS
          -->
          <% if (title == "Motoristas"){ %>
            <h5 class="modal-title trans">SELECCIONE EL TRANSPORTISTA</h5>
          <% } %>

          <!--Esto se va a ocultar y mostrar con jquery-->
          <% if (title == "Vehiculos"){ %>
            <h5 class="modal-title mot">SELECCIONE EL MOTORISTA</h5>
            <h5 class="modal-title marca">SELECCIONE LA MARCA</h5>
            <h5 class="modal-title tv">SELECCIONE EL TIPO DE VEHICULO</h5>
          <% } %>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!--SI EL TITULO DE A PAGINA ES MOTORISTAS VA A MOSTRAR LA TABLA DE LISTADO DE TRANSPORTISTAS-->
          <% if (title == "Motoristas"){ %>
            <div class="modalListMotoristas">
              <H4>Listado de Transportistas</H4>
            <table class="hover listado">
                <thead>
                    <tr>
                        <th>
                            RTN
                        </th>
                        <th>
                            NOMBRE
                        </th>
                    </tr>
                </thead>
                <tbody>
                  <tbody class="table-hover">
                    <% if (transportistas) { %>
                        <% for(var i = 0; i < transportistas.length; i++) { %>
                          <tr>
                            <td class="RTN"><%= transportistas[i].RTN %></td>
                            <td><%= transportistas[i].Transportista %></td>
                          </tr>
                        <% } %>
                    <% } %>
                </tbody>
            </table>
            </div>
          <% } %>
          <!--SI EL TITULO DE LA PAGINA ES Vehiculos muestra lo necesario para llenar el form de vehiculos
          esto incluye Tipo de vehiculo, marca y motorista. Cada categoria se va a mostrar mediante jquery -->
          <% if (title == "Vehiculos"){ %>
            <!--Listado de motoristas. Se va a mostrar cuando la clase .mot sea marcado como visible-->
            <div class="mot">
              <h4>Listado de Motoristas</h4>
              <table class="hover listado">
                <thead>
                  <tr>
                    <th>Identidad</th>
                    <th>Motorista</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>0601195812345</td>
                    <td class="mottdselector">Juan Pirulo</td>
                  </tr>
                  <tr>
                    <td>0602196612345</td>
                    <td class="mottdselector">Elver Galarga</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="marca">
              <h4>Listado de Marcas</h4>
              <table class="hover listado">
                <thead>
                  <tr>
                    <th>IdMarca</th>
                    <th>Marca</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td class="mtdselector">Toyota</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td class="mtdselector">Nissan</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td class="mtdselector">John Deere</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="tv">
              <h4>Listado de Tipos de Vehiculos</h4>
              <table class="hover listado">
                <thead>
                  <tr>
                    <th>IdTipo</th>
                    <th>Tipo de Vehiculo</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td class="tvtdselector">PickUp</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td class="tvtdselector">Ambulancia</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td class="tvtdselector">Cabezal Alquilado</td>
                  </tr>
                </tbody>
              </table>
            </div>
          <% } %>          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div> 