<!DOCTYPE html>
<html lang="en">
<%include ../../Layouts/Ordenes/Header.ejs %>
<%include ../../Layouts/Ordenes/tabs.ejs %>

    <div class="container-fluid">
        <div class="col-md-12">
            <div class="tab-content" id="ex2-content">
                <!--TAB PARA TABLA DE LISTADO-->
                <div
                class="tab-pane fade show active"
                id="ex3-tabs-1"
                role="tabpanel"
                aria-labelledby="listado"
                >
                    <!--ZAMPAR AQUI TODO EL MIERDERO DE LA TABLA DE MOTORISTAS-->
                    <h2>asumamos que aqui va la lista de <%=title%></h2>
                </div>
                <!--TAB PARA FORM DE REGISTRO-->
                <div
                class="tab-pane fade"
                id="ex3-tabs-2"
                role="tabpanel"
                aria-labelledby="regform"
                >
                    <!--ZAMPAR AQUI EL FORM DE REGISTRO-->
                    <h2>asumamos que aquí va el form de <%= title %></h2>
                </div>
            </div>
        </div>
    </div>

<%include ../../Layouts/Ordenes/Footer.ejs %>
</html>