<%include ../../Layouts/Ordenes/Header.ejs %>
<%include ../../Layouts/Ordenes/tabs.ejs %>
<!--BODY DE LAS TABAS (METER TABLAS Y FORM DE REGISTRO -->
<div class="container-fluid">
    <div class="col-md-12">
        <div class="tab-content" id="ex2-content">
            <!--TAB PARA LISTADO-->
            <div
            class="tab-pane fade show active"
            id="ex3-tabs-1"
            role="tabpanel"
            aria-labelledby="listado"
            >
                <!--AQUI VA TODO EL VERGASEO DEL LISTADO-->
            </div>
            <!--TAB PARA FORM DE REGISTRO-->
            <div
            class="tab-pane fade"
            id="ex3-tabs-2"
            role="tabpanel"
            aria-labelledby="regform"
            >
                <!--METER EL FORM DEL REGISTRO AQUI-->
            </div>
        </div>
<%include ../../Layouts/Ordenes/Footer.ejs %>