<!DOCTYPE html>
<html lang="es">
<%include ../../Layouts/Ordenes/Header.ejs %>
<%include ../../Layouts/Ordenes/tabs.ejs %>
<%include ./modal.ejs %>
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="tab-content" id="ex2-content">
                <!--TAB PARA TABLA DE LISTADO-->
                <div
                class="tab-pane fade show active"
                id="ex3-tabs-1"
                role="tabpanel"
                aria-labelledby="listado"
                >
                    <!--ZAMPAR AQUI TODO EL MIERDERO DE LA TABLA DE VEHICULOS-->
                    <div class="row border border-light">
                        <div class="col-lg-12">
                            <table class="hover listado" >
                                <thead>
                                    <tr>
                                        <th>Placa </th>
                                        <th>Marca</th>
                                        <th>Tipo de vehiculo</th>
                                        <th>Observacion</th>
                                        <th>Motorista</th>
                                    </tr>
                                </thead>
                                <tbody>
        
                                </tbody>
                            </table>  
                        </div>
                    </div>                                     
                </div>
                <!--TAB PARA FORM DE REGISTRO-->
                <div
                class="tab-pane fade"
                id="ex3-tabs-2"
                role="tabpanel"
                aria-labelledby="regform"
                >
                    <!--ZAMPAR AQUI EL FORM DE REGISTRO-->
                    <div class="row d-flex justify-content-center">
                        <form class="text-center border border-light p-5 col-md-4" action="/catalogos/veh" method="POST" >
                            <!-- Grid row -->
                            <div class="form-row">
                            <!-- Grid column -->
                            <div class="col-lg-12">
                                <!-- Material input -->
                                <div class="md-form mt-0">
                                    <input id="placa" type="text" name="placa" class="form-control" required pattern="[A-Z]{3}[0-9]{4}" autocomplete="off">  
                                    <label for="placa">Placa</label>                                  
                                </div>
                            </div>
                            <!-- Grid column -->
                            <div class="md-form col-lg-12">
                                <!-- Material input -->
                                <div class="md-form mt-0">
                                    <input id="marca" type="text" class="form-control openModal4Id" autocomplete="off" data-toggle="modal" data-target="#modalExtData" required> 
                                    <input type="text" id="idmarca" name="idmarca" hidden>
                                    <label for="marca">Marca</label>                                   
                                </div>
                            </div>
                            <!-- Grid column -->
                            <div class="md-form col-lg-12">
                                <!-- Material input -->
                                <div class="md-form mt-0">
                                    <input id="tv" type="text" class="form-control openModal4Id" autocomplete="off" data-toggle="modal" data-target="#modalExtData" required>       
                                    <input type="text" name="idtv" id="idtv" hidden>
                                    <label for="tv">Tipo de vehiculo</label>                             
                                </div>
                            </div>                          
                            <!-- Grid column -->
                            <div class="md-form col-lg-12">
                                <textarea id="form7" name="obs" class="md-textarea form-control" rows="3" autocomplete="off"></textarea>
                                <label for="form7">Observacion</label>
                            </div>
                            <!-- Grid column -->
                            <div class="md-form col-lg-12">
                                <div class="md-form mt-0">
                                    <!--el data-toggle="modal" es el que activa la modal. el data-target es el nombre de la modal que debe activar-->
                                    <input required="required" class="form-control openModal4Id" type="text" id="idMot"
                                     data-toggle="modal" data-target="#modalExtData" autocomplete="off"
                                    >
                                    <input type="text" name="idmot" id="motid" hidden>
                                    <label for="idMot">Motorista</label>
                                </div>                                
                            </div>
                            </div>
                            <div class="col-md-12">
                                <button id="regMot" class="btn btn-primary" type="submit">Registrar</button>
                            </div>
                            <!-- Grid row -->
                        </form> 
                    </div>                        
                </div>
            </div>
        </div>
    </div>
<%include ../../Layouts/Ordenes/Footer.ejs %>
</html>