<div  class="datatable">
    <!-- Modal -->
    <div class="modal fade" id="modalExtDataMovimientos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title trans">SELECCIONE EL MOTOR_ISTA</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!--SI EL TITULO DE A PAGINA ES MOTORISTAS VA A MOSTRAR LA TABLA DE LISTADO DE TRANSPORTISTAS-->
              <div class="modalListMotoristas">
                <H4>Listado de Motoristas</H4>
              <table class="hover listado">
                  <thead>
                      <tr>
                          <th>
                              Id
                          </th>
                          <th>
                              NOMBRE
                          </th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td class='Id'>
                            06071996010488
                          </td>
                          <td>
                            samuel vasquez
                          </td>
                      </tr>
                      <tr>
                          <td class="Id">
                            08161956000744
                          </td>
                          <td>
                            Victor avila
                          </td>
                      </tr>
                      <tr>
                        <td class="Id">
                          0601197023658
                        </td>
                        <td>
                          Aniceto Monlina
                        </td>
                      </tr>
                  </tbody>
              </table>
              </div>
        
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div> 